{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" method="post" action="/inventory/new/">

                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}

                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="cols-sm-2 control-label">{{ field.label_tag }}</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <!-- {{ field.errors }} -->
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                {%  render_field field class+="form-control"%}
                            </div>

                            {% if field.errors %}
                                <span class="help-block">
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </span>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Erstellen</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}